.btn {
	display: flex;
	align-items: center;

	@include round(sm);
	padding: space(sm) space(md) !important;
	@include shadow;
	border: none;


	background: $col-page;	
	color: $col-text;
	border: 1px solid rgba($col-primary, .5);
	cursor: pointer;

	transition:
		background 350ms,
		color 350ms,
		border 350ms,
	;

	&:hover {
		background: $col-mg;

		border: 1px solid $col-primary;

		transition:
			background 150ms,
			color 100ms,
			border 100ms,
		;	
	}

	&:active {
		@include shadow-inset;
		background: $col-page;
		color: $col-primary;
		border: 1px solid transparent;
	}

	svg {
		margin-right: space(md);
		pointer-events: none;
	}
}