body {
	display: flex;
	justify-content: center;
}

.root-layout {
	display: grid;
	grid-template-areas: 'head' 'body' 'foot';
	grid-template-rows: auto 1fr auto;
	height: 100vh;
	width: 100vw;
	max-width: 900px;

	&__head {
		grid-area: head;
	}

	&__body {
		grid-area: body ;
	}

	&__foot {
		grid-area: foot ;
	}
}

.generator-layout {
	display: grid;
	grid-template-areas: 'input' ' controls' 'output';
	grid-template-rows: 1fr auto 2fr;

	&__input {
		grid-area: input;
	}

	&__controls {
		grid-area: controls;
		display: flex;
		margin: 1rem 0;
	}

	&__output {
		grid-area: output;
	}
}