$shadow-size: space(xs);
$shadow-neg-size: -($shadow-size);
$shadow-blur: $shadow-size;
$shadow-spread: 0rem;

@mixin shadow($color: $col-mg) {

	box-shadow:
		$shadow-size $shadow-size $shadow-blur $shadow-spread shadow-color-dark($color),
		$shadow-neg-size $shadow-neg-size $shadow-blur $shadow-spread shadow-color-light($color),
	;
}

@mixin shadow-inset($color: $col-mg) {
	box-shadow:
		$shadow-size $shadow-size $shadow-blur $shadow-spread shadow-color-dark($color) inset,
		$shadow-neg-size $shadow-neg-size $shadow-blur $shadow-spread shadow-color-light($color) inset,
	;
}

@function shadow-color-light($color) {
	@return rgba(lighten($color, 30%), 1);
}

@function shadow-color-dark($color) {
	@return rgba(darken($color, 50%), .5);
}