$spaces: (
	xs: .25rem,
	sm: .5rem,
	md: 1rem,
	lg: 2rem,
	xl: 3rem
);

@function space($key) {
	@return map-get($spaces, $key)
}

.pad-lg {
	padding: 1rem;
}

.pad-md {
	padding: .5rem;
}

.mrg-l-auto {
	margin-left: auto;
}