@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Vollkorn:wght@1,500&display=swap');

body {
	font-family: 'Vollkorn', serif;
}

.text-display {
	font-family: 'Bangers', cursive;
	letter-spacing: .1rem;
}

.text-header {
	font-size: 5rem;

	display: flex;
	align-items: center;
	
	margin-left: auto;
}

.text-wide {
	letter-spacing: .5rem;
}

.text-large {
	font-size: 1.5rem
}

.text-small {
	font-size: .95rem;
}